<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class Search - AnTutorsConnect</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <h1><%= classItem.classCode %>, <%= classItem.className %></h1>
    <p><%= classItem.classDesc %></p>
    <%- include("./partials/tutor-list.ejs") %>
    <a href="/search">Back</a>
</body>
</html>