<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Class Search - AnTutorsConnect</title>
</head>
<body>
    <h1><%= classItem.classCode %>, <%= classItem.className %></h1>
    <p><%= classItem.classDesc %></p>
    <ul>
        <% tutors.forEach(function(tutor) { %>
            <li><a href="/search/tutor/<%= tutor.tutor.id %>"><%= tutor.tutor.firstName %> <%= tutor.tutor.lastName %></a></li>
        <% }); %>
    </ul>
    <a href="/search">Back</a>
</body>
</html>