<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zot Tutors</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/search.css">
  <link rel="stylesheet" href="/stylesheets/list.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <div class ="search-page">
      <div class="search-container">
        <div class="class-side">
          <h1>Class Search</h1>
          <form action="/search/classes" method="POST">
            <label for="searchTerm">Class Name or Code: </label>
            <input id="searchTerm" name="searchTerm" placeholder="Search" type="text" />
            <label for="department">Choose a department: </label>
            <select name="department" id="department">
              <option value="All" selected>All</option>
              <% departments.forEach(dep => { %>
                <option value="<%= dep.department %>"><%= dep.department %> - <%= dep.departmentName %></option>
              <% }) %>
            </select>
            <button type="submit">Search</button>
          </form>
        </div>
        <div class="tutor-side">
          <h1>Tutor Search</h1>
          <form action="/search/tutors" method="POST">
            <label for="firstName">First Name: </label>
            <input id="firstName" name="firstName" placeholder="First Name" type="text" />
            <label for="lastName">Last Name: </label>
            <input id="lastName" name="lastName" placeholder="Last Name" type="text" />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="search-results">
        <% if (classes.length > 0) { %>
          <h2 class="results-title">Found <%= classes.length %> Classes: </h2>
          <%- include("./partials/class-list.ejs") %>
        <% } 
        else if (tutors.length > 0) { %>
          <h2 class="results-title">Found <%= tutors.length %> Tutors: </h2>
          <%- include("./partials/tutor-list.ejs") %>
        <% } 
        else if (searched) { %>
          <h2 class="results-title">No Results Found</h2>
        <% } %>
      </div>
    </div>
</body>
</html>