<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zot Tutors</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="/stylesheets/list.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <div class="profile-container">
      <div class="profile-header">
        <h1 class="profile-name"><b>Tutor:</b> <%= tutor.firstName %> <%= tutor.lastName %></h1>
      </div>
      <p class="profile-email"><b>Contact:</b> <%= tutor.email %></p>
      <div class="tutor-info">
        <p class="profile-bio"><b>Bio:</b> <%= tutor.bio %></p>
        <p class="profile-availability"><b>Availability:</b> <%= tutor.availability %></p>
        <p class="profile-rate"><b>Rate:</b> $<%= tutor.rate %>/ hour</p>
        <% if (tutor.isOnline && tutor.isInPerson){ %>
          <p class="profile-meeting"><b>Meeting Style:</b> Online or In Person</p>
        <% }
        else if (tutor.isOnline) { %>
          <p class="profile-meeting"><b>Meeting Style:</b> Online</p>
        <% }
        else if (tutor.isInPerson) { %>
          <p class="profile-meeting"><b>Meeting Style:</b> In person</p>
        <% } %>
        <% if (classes.length >= 1) { %>
          <div class="classes-taught-header">
            <p class="profile-classes"><b>Classes Taught:</b></p>
          </div>
          <%- include("./partials/class-list.ejs") %>
        <% } %>
      </div>
      <a class="back-button" href="javascript:history.back()">Back</a>
    </div>
</body>
</html>