<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zot Tutors</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="/stylesheets/list.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
    <%- include("./partials/menu-bar.ejs") %>
    <div class="profile-container">
      <div class="profile-header">
        <h1 class="profile-name">Tutor: <%= tutor.firstName %> <%= tutor.lastName %></h1>
      </div>
      <p class="profile-email">Contact: <%= tutor.email %></p>
      <div class="tutor-info">
        <p class="profile-bio">Bio: <%= tutor.bio %></p>
        <p class="profile.availability">Availability: <%= tutor.availability %></p>
        <p class="profile-rate">Rate: $<%= tutor.rate %>/ hour</p>
        <% if (tutor.isOnline && tutor.isInPerson){ %>
          <p class="profile-meeting">Willing to meet online or in person.</p>
        <% }
        else if (tutor.isOnline) { %>
          <p class="profile-meeting">Willing to meet Online.</p>
        <% }
        else if (tutor.isInPerson) { %>
          <p class="profile-meeting">Willing to meet in person.</p>
        <% } %>
        <% if (classes.length >= 1) { %>
          <p class="profile-classes">Classes Taught:</p>
          <%- include("./partials/class-list.ejs") %>
        <% } %>
      </div>
      <a class="back-button" href="javascript:history.back()">Back</a>
    </div>
</body>
</html>