<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zot Tutors</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="icon" href="/images/logo.png">
</head>
<body>
  <%- include("./partials/menu-bar.ejs") %>
  <div class="profile-container">
    <div class="profile-header">
      <h1 class="title">Update Profile</h1>
      <a class="update-profile-btn" href="/profile">Back to Profile</a>
    </div>
    <% if (user.isTutor){ %>
      <div class="tutor-info">
        <form action="/profile/update-profile" method="POST">
          <label for="firstName">First Name:</label>
          <input id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstName %>" type="text" required/>
          <label for="lastName">Last Name</label>
          <input id="lastName" name="lastName" placeholder="Last Name" value="<%= user.lastName %>" type="text" required/>
          <label for="email">Email: </label>
          <input id="email" name="email" type="email" value="<%= user.email %>" required/>
          <h1>Tutor Profile</h1>
          <h3>The following information will be viewable to possible students:</h3>
          <label for="rate">Hourly Rate ($): </label>
          <input id="rate" name="rate" type="number" step="0.01" min="0" value="<%= user.rate %>" required/>
          <label for="bio">Bio:</label>
          <textarea id="bio" name="bio" rows="4" cols="50"><%= user.bio %></textarea>
          <label for="availability">Availability:</label>
          <textarea id="availability" name="availability" rows="4" cols="50"><%= user.availability %></textarea>
          <label for="isOnline">Willing to meet online: </label>
          <input id="isOnline" name="isOnline" type="checkbox" <% if (user.isOnline) { %>checked<% } %>/>
          <label for="isInPerson">Willing to meet in person: </label>
          <input id="isInPerson" name="isInPerson" type="checkbox" <% if (user.isInPerson) { %>checked<% } %>/>
          <button class="update-profile-btn" type="submit">Update Profile</button>
        </form>
      </div>
    </form>
    <% } 
    else { %>
      <form action="/profile/update-profile" method="POST">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" placeholder="First Name" value="<%= user.firstName %>" type="text" required/>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" placeholder="Last Name" value="<%= user.lastName %>" type="text" required/>
        <label for="email">Email: </label>
        <input id="email" name="email" type="email" value="<%= user.email %>" required/>
        <button type="submit">Update Tutoring Classes</button>
      </form>
      <p>Want to make some money as a Tutor? Sign up to be a Zot Tutor <a href="/profile/tutor-sign-up">here</a>!</p>
    <% } %>
    <%- include("./partials/errors.ejs") %>
  </div>
  
</body>
</html>